<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="flex-column justify-space-around">
      <header class="display-flex justify-space-between align-center p-2">
        <nav>
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
          <div class="spacing">
            <a class='btn-chg' href="/">Home</a>

            <a class='btn-chg' href="/dashboard">Dashboard</a>



            <button class="no-button btn-chg" id="logout">Logout</button>
            </div>
          {{else}}
            <a class='btn-chg login' href="/login">Login</a>
          {{/if}}
        </nav>

        <h1>

          <a class="center tech" href="/">The Tech Blog</a>
        </h1>

      </header>
      <main class="container container-fluid mt-5">
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>