<p>{{newComment.title}}</p>
<p>{{newComment.body}}</p>
<form>
  <label>Add comment to this post.</label>

  <textarea class="form-input" id="comment-text"></textarea>
  <button type="submit" id="comment-btn">Submit Comment</button>
</form>
<script src="/js/comment.js"></script>