<div>
    <div class="post">
  <a class="title" href = "/comments/{{post.id}}"> {{post.title}} <span class="end"> Blogged on {{format_time post.createdAt}} </span> </a>
  <p>{{post.body}}</p>
  </div>

<form class="new-post">
    <div>
        <label>Update Title</label>
        <input type= "text" class="input-lg" id= "update-title"></input>
    </div>

    <div>
        <label>Update Body</label>
        <textarea type= "text" class="input-lg" id= "update-body"></textarea>
    </div>

    <button class="btn-chg" id="update-btn">Update Post</button>
    <button class="btn-chg" id= "delete-btn">Delete</button>
</form>


<script src="/js/updatePost.js"></script>

<script src="/js/deletePost.js"></script>
